body {
    position: relative;
    width: 1280px;
    height: 720px;
    background: #121214;
    border-radius: 12px;
}

h1 {
    position: absolute;
    left: 464px;
    top: 183px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo-flex {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 229px;
    height: 68px;
    left: 517px;
    top: 42px;
}

.box-user {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    justify-content: space-between;

    position: absolute;
    width: 700px;
    height: 194px;
    left: 272px;
    top: 286px;

    background-color: #ebc4c400;
}

.user-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.avatar {
    position: static;
    width: 160px;
    height: 160px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 17.53%;
    background: #ECECEC;
    border-radius: 8px;
    overflow: hidden;
}

.img-user {
    width: 160px;
    transition: widht 1s;
}


.img-user:hover {
    width: 180px;
    transition: width 1s;
}

.name-user {
    position: static;
    left: 39.38%;
    right: 39.38%;
    top: 90.72%;
    bottom: 0%;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #9C9C9C;
}

.box-buttton {
    position: absolute;
    width: 206px;
    height: 50px;
    left: 528px;
    top: 582px;
    border: 1.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
}

.button-perfis {

    color: #FFFFFF;
    display: flex;
    justify-content: center;
    background-color: none;
}